<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /demo/cloud-kitchen-dashboard/

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /demo/cloud-kitchen-dashboard/index.html [L]
</IfModule>